@charset "UTF-8";
/* CSS Document */

		body{
			background-color:#fff;
			color:#111;
			overflow:hidden;
			width:100%;
		}
		.btnClass{
		width:100%;
		height:30px;
		}
		.floatClass{
		width:250px;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		}
		#button2{
		width:100px;
		height:100px;
		}
		#button3{
		width:100px;
		height:100px;
		background-color:#666666;
		background-image:url(images/ico2.jpg);
		}
		.font1{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:30px;
		width:40px;
		height:40px;
		left:50%;
		top:50%;
		}
		.font3{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:23px;
		width:1500px;
		height:200px;
		margin-left:auto;
		margin-right:auto;
		text-align:left;
		color:#333;
		z-index:119;
		}
		.font2{
		color:#777;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		text-align:center;
		}		
        .dragClass { float:left;width: 70px; height: 70px; padding: 0.5em; margin: 10px 10px 10px 0;background-color:rgba(0,0,0,0.6);color:#CCCCCC; }
        #droppable { width: 100%; height: 100%; padding: 0.5em; margin: 10px;margin-left:auto;margin-right:auto;color:#FFFFFF; overflow:auto;}
		.centerClass{
		background-color:#333;
		}
		#container{
			position:absolute;
			margin-top:40%;
		}
		.demo{
		position:absolute;
		right:10;
		width:80px;
		}		
		.demo2{
		position:absolute;
		left:10;
		width:80px;
		}		
		.ui-state-highlight{
		background-color:#990000;
		}
		.ui-state-hover, .ui-state-active, .ui-state-highlight{
		background-color:#0099CC;
		}
		.back1{
		background-color:#FFFFFF;
		}
		.back2{
		background-color:#990000;
		}
		#FirstName{
		width:110px;
		}
		#pJon{
			color:#666666;
		}
		.displayClass{
		display:none;
		}
		#container3{
			position:absolute;
			width:280px;
			height:500px;
			left:40%;
			top:37%;
		}
		#containerQR{
		position:relative;
		width:660px;
		height:1000px;
		margin-left:auto;
		margin-right:auto;
		display:none;
		}
		.classIMGQR{
		margin:5px;
		}
		#containerIMG2{
			position:relative;
			width:600px;
			margin-left:auto;
			margin-right:auto;
 			background-position:center;
			color:#ccc;
			font-size:13px;
			font-style:italic;
			font-family:"Courier New", Courier, monospace;
			text-align:center;
		}
		#containCdr{
			width:271px;
			height:326px;
			overflow:hidden;
			z-index:10;
			margin-left:auto;
			margin-right:auto;
		}
